* {  /* Reseteamos los estilos con el selector universal */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* Se crea el selector raiz para generar las customs properties*/
    --tamaño-fuentes-principales: 30px;
    --sombras-cajas: 5px 5px 8px rgb(89, 89, 89);
    --titulos-cartas: 20px;
}

.titulos-principales { /* Creamos el componente de titulos principales*/
    display: block;
    margin: 20px 0px;
    text-align: center;
    font-size: var(--tamaño-fuentes-principales);
}

.tarjeta-producto { /* Se crea el primer componente que es la tarjeta de producto */
    height: 400px;
    width: 275px;
    background-color: #e5e5e5;
    border-radius: 10px;
    box-shadow: var(--sombras-cajas);
    margin: 0 auto;
    padding-top: 10px;
}

.tarjeta-producto__titulo { /* Se define estilos para el elemento de titulo de el bloque de tarjeta de producto */
    text-align: center;
    font-size: var(--titulos-cartas);
    font-weight: bold;
}

.tarjeta-producto__imagen { /* Se definene estilos para el elemento imagen de el bloque */
    height: 30%;
    width: auto;
    display: block;
    margin: 15px auto;
}

.tarjeta-producto__texto-descripcion { /* Se define los estilos para el elemento bloque */
    text-align: center;
    font-size: 15px; 
}

.tarjeta-producto__boton { /* Se crean los estilos para el elemento boton de el bloque (componente) de le tarjeta producto*/
    display: block;
    margin: 15px auto;
    padding: 10px;
    color: white;
    font-weight: 600;
    background-color: orange;
    border: none;
    border-radius: 20px;
}

.navegador { /* Creación de el componente navegador */
    width: 100vw;
    height: 10vh;
    background-color: black;
    text-align: center;
    padding-top: 4vh;
}

.navegador__lista { /* Se aplican estilos para el elemento lista de el bloque nav */
    list-style: none;
}

.navegador__lista-elemento { /* Se aplican estilos a los elementos de la lista de el bloque nav */
    display: inline-block;
}

.navegador__enlace { /* Se aplican estilos a el enlace que es elemento de el componente nav */
    color: white;
    text-decoration: none;
    padding: 30px;
    font-weight: 800;
}

.formulario { /* Creación del componente de formulario de contacto */
    margin: 0 auto;
    height: 350px;
    width: 275px;
    border: solid 2px #b8f0ff;
    background-color: #d8f7ff;  
    box-shadow: var(--sombras-cajas);
}

.formulario__titulo { /* Se aplican estilos para el titulo de el componente formulario */
    display: block;
    font-size: var(--titulos-cartas);
    margin-top: 10px;
    text-align: center;
}

.formulario__input { /* Se aplican estilos para el elemento input de el componente formulario  */
    display: block;
    margin: 15px auto;
    border: none;
    padding: 8px;
    border-radius: 12px;
}

.formulario__boton { /* Se aplican estilos para el elemento boton en el formulario */
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(0, 47, 255);
    color: white;
}

.lista-tareas { /* Creación de el componenete lista de tareas */
    height: auto;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: var(--sombras-cajas);
    margin: 30px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.lista-tareas__titulo { /* Se aplican estilos a el elemento titulo de el componente lista */
    font-size: var(--titulos-cartas);
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.lista-tareas__lista { /* Se aplican estilos a la lista de el componente */
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.lista-tareas__elemento { /* Se aplican estilos a los elementos de la lista que hacen parte de el componente */
    background-color: #fab6b6;
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 8px;;
    align-items: center;
    color: #f15353;
    font-size: 15px;
    transition: 0.2s;
}

.lista-tareas__elemento:hover { /* Se aplican estilos a los elementos cuando pasa el cursor */
    transform: scale(0.97);
}

.lista-tareas__elemento--completada { /* Se aplican estilos a el modificador de el componente */
    background-color: #d4edda;
    color: #155724;
}

.contenedor { /* Creación de un contenedor para los siguiente componentes */
    width: 50vw;
    height: 50vh;
    margin: 0 auto; 
    padding: 5px;
}

.cards { /* Creación de el componente de cartas, obtenido de la galeria de goku */
    width: 32%;
    height: 95%;
    background-color: rgb(32, 32, 32);
    display: inline-block;
    border-radius: 5px; 
    text-align: center;
    font-size: 0.6rem; 
}

.cards__img { /* Estilos para el elemento imagen de el componenete card */
    width: 95%;
    height: auto;
}

.cards__texto { /* Se aplican estilos para el elemento texto de el componente card */
    color: white;
    font-size: 12px;
}

.notificacion { /* Creación de el componente de notificación */
    width: 300px;
    padding: 15px 20px;
    margin: 30px auto;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    box-shadow: var(--sombras-cajas);
    overflow: hidden; 
}

.notificacion__texto { /* Estilos para el elemento texto de el componenete de alerta */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 30px; 
}

.notificacion__boton { /* Creación de un boton para cerrar la notificación */
    background-color: #d4edda;
    border: none;
    float: right; 
    font-size: 10px;
    font-weight: bold;
    color: #0e3b17;
    padding: 0 5px;
}
