* {  /* Reseteamos los estilos con el selector universal */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* Se crea el selector raiz para generar las customs properties*/
    --tamaño-fuentes-principales: 30px;
    --sombras-cajas: 5px 5px 8px rgb(89, 89, 89);
    --titulos-cartas: 20px;
}

.titulos-principales { /* Creamos el componente de titulos principales*/
    display: block;
    margin: 20px 0px;
    text-align: center;
    font-size: var(--tamaño-fuentes-principales);
}

.tarjeta-producto { /* Se crea el primer componente que es la tarjeta de producto */
    height: 400px;
    width: 275px;
    background-color: #e5e5e5;
    border-radius: 10px;
    box-shadow: var(--sombras-cajas);
    margin: 0 auto;
    padding-top: 10px;
}

.tarjeta-producto__titulo { /* Se define estilos para el elemento de titulo de el bloque de tarjeta de producto */
    text-align: center;
    font-size: var(--titulos-cartas);
    font-weight: bold;
}

.tarjeta-producto__imagen { /* Se definene estilos para el elemento imagen de el bloque */
    height: 30%;
    width: auto;
    display: block;
    margin: 15px auto;
}

.tarjeta-producto__texto-descripcion { /* Se define los estilos para el elemento bloque */
    text-align: center;
    font-size: 15px; 
}

.tarjeta-producto__boton { /* Se crean los estilos para el elemento boton de el bloque (componente) de le tarjeta producto*/
    display: block;
    margin: 15px auto;
    padding: 10px;
    color: white;
    font-weight: 600;
    background-color: orange;
    border: none;
    border-radius: 20px;
}

.navegador { /* Creación de el componente navegador */
    width: 100vw;
    height: 10vh;
    background-color: black;
    text-align: center;
    padding-top: 4vh;
}

.navegador__lista { /* Se aplican estilos para el elemento lista de el bloque nav */
    list-style: none;
}

.navegador__lista-elemento { /* Se aplican estilos a los elementos de la lista de el bloque nav */
    display: inline-block;
}

.navegador__enlace { /* Se aplican estilos a el enlace que es elemento de el componente nav */
    color: white;
    text-decoration: none;
    padding: 30px;
    font-weight: 800;
}

.formulario { /* Creación del componente de formulario de contacto */
    margin: 0 auto;
    height: 300px;
    width: 275px;
    border: solid 2px #b8f0ff;
    background-color: #d8f7ff;  
    box-shadow: var(--sombras-cajas);
}

.formulario__titulo { /* Se aplican estilos para el titulo de el componente formulario */
    display: block;
    font-size: var(--titulos-cartas);
    margin-top: 10px;
    text-align: center;
    color: #2bacf7;
}

.formulario__input { /* Se aplican estilos para el elemento input de el componente formulario  */
    display: block;
    margin: 15px auto;
    border: none;
    padding: 8px;
    border-radius: 12px;
    background-color: #cee8f0;
}

.formulario__boton { /* Se aplican estilos para el elemento boton en el formulario */
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #2bacf7;
    color: white;
}

.lista-tareas { /* Creación de el componenete lista de tareas */
    height: auto;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: var(--sombras-cajas);
    margin: 30px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.lista-tareas__titulo { /* Se aplican estilos a el elemento titulo de el componente lista */
    font-size: var(--titulos-cartas);
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.lista-tareas__lista { /* Se aplican estilos a la lista de el componente */
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.lista-tareas__elemento { /* Se aplican estilos a los elementos de la lista que hacen parte de el componente */
    background-color: #fab6b6;
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 8px;;
    align-items: center;
    color: #f15353;
    font-size: 15px;
    transition: 0.2s;
}

.lista-tareas__elemento:hover { /* Se aplican estilos a los elementos cuando pasa el cursor */
    transform: scale(0.97);
}

.lista-tareas__elemento--completada { /* Se aplican estilos a el modificador de el componente */
    background-color: #d4edda;
    color: #155724;
}

.contenedor { /* Creación de un contenedor para los siguiente componentes */
    width: 50vw;
    height: 50vh;
    margin: 0 auto; 
    padding: 5px;
}

.cards { /* Creación de el componente de cartas, obtenido de la galeria de goku */
    width: 32%;
    height: 95%;
    background-color: rgb(32, 32, 32);
    display: inline-block;
    border-radius: 5px; 
    text-align: center;
    font-size: 0.6rem; 
}

.cards__img { /* Estilos para el elemento imagen de el componenete card */
    width: 95%;
    height: auto;
}

.cards__texto { /* Se aplican estilos para el elemento texto de el componente card */
    color: white;
    font-size: 12px;
}

.notificacion { /* Creación de el componente de notificación */
    width: 300px;
    padding: 15px 20px;
    margin: 30px auto;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    box-shadow: var(--sombras-cajas);
    overflow: hidden; 
}

.notificacion__texto { /* Estilos para el elemento texto de el componenete de alerta */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 30px; 
}

.notificacion__boton { /* Creación de un boton para cerrar la notificación */
    background-color: #d4edda;
    border: none;
    float: right; 
    font-size: 10px;
    font-weight: bold;
    color: #0e3b17;
    padding: 0 5px;
}

.tabla-datos { /* Creación de el componente tabla de datos */
    height: 250px; 
    width: 500px;
    margin: 20px auto;
    background-color: #e0f2f7; 
    border-radius: 8px;
    box-shadow: var(--sombras-cajas);
    padding: 15px;
    text-align: center;
}

.tabla-datos__titulo { /* estilos para el titulo de el componente */
    font-size: var(--titulos-cartas);
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.tabla-datos__tabla { /* Estilos para unos elementos de el bloque tabla */
    width: 100%;
}

.tabla-datos__fila { /* Estilos de borde para elementos */
    border-bottom: 1px solid #b2ebf2; 
}

.tabla-datos__fila:last-child { /* Estilos a el ultimo elemento de el bloque */
    border-bottom: none;
}

.tabla-datos__celda-encabezado { /* Estilos especificos a el encabezado de la tabla */
    padding: 10px 12px;
    text-align: left;
    color: #000; 
    font-weight: bold;
}

.tabla-datos__celda { /* Estilos para las celdas de el componenete */
    padding: 8px 12px;
    text-align: left;
    color: #303030;
}

.pie-pagina { /* Creación del componente de pie de página */
    width: 100%;
    height: 100px;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
    clear: both; /* Limpia cualquier float anterior */
}

.pie-pagina__texto { /* Estilos para el texto de el componente */
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.pie-pagina__enlaces { /* Estilos para la lista de enlaces */
    list-style: none;
    padding: 0;
}

.pie-pagina__enlace-item { /* Estilos para cada elemento de enlace */
    display: inline-block;
    margin: 0 10px;
}

.pie-pagina__link { /* Estilos para los enlaces del pie de página */
    color: #c5c5c5;
    text-decoration: none;
    font-size: 13px;
}

.tabs { /* Creación del componente de pestañas (tabs) */
    width: 400px;
    margin: 30px auto;
    background-color: #f0f8ff;
    border: 2px solid #cceeff;
    border-radius: 5px;
    box-shadow: var(--sombras-cajas);
}

.tabs__navegacion { /* Estilos para la navegación de las pestañas que contiene los enlaces*/
    background-color: #e0f2f7;
    border-bottom: 1px solid #cceeff;
    padding: 5px 0;
    text-align: center;
}

.tabs__boton { /* Estilos para cada botón de pestaña */
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #cceeff;
    color: #0056b3;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.tabs__contenido { /* Estilos para el área de contenido de las pestañas */
    padding: 20px;
}

.tabs__texto { /* Estilos para el texto dentro del contenido */
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.selector-categorias { /* Creación del componente selector de categorías */
    width: 250px;
    margin: 30px auto;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: var(--sombras-cajas);
    padding: 15px;
}

.selector-categorias__titulo { /* Estilos para el título del selector */
    font-size: var(--titulos-cartas);
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.selector-categorias__lista { /* Estilos para la lista de categorías */
    list-style: none;
    padding: 0;
}

.selector-categorias__item { /* Estilos para cada elemento de categoría */
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.selector-categorias__enlace { /* Estilos para los enlaces de categoría */
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 15px;
    padding: 5px 0;
}


.calificacion { /* Creación del componente de calificación de nota*/
    width: 220px;
    margin: 20px auto;
    background-color: #fcf9f5;
    border-radius: 8px;
    box-shadow: var(--sombras-cajas);
    padding: 15px;
    text-align: center;
}

.calificacion__texto { /* Estilos para el texto de calificación */
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

.calificacion__promedio { /* Estilos para el texto de promedio */
    font-size: 13px;
    color: #777;
}

.reproductor { /* Creación del componente reproductor de video */
    width: 600px;
    height: 400px;
    margin: 30px auto;
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: var(--sombras-cajas);
    padding: 20px;
    text-align: center;
}

.reproductor__titulo { /* Estilos para el título del video */
    font-size: var(--titulos-cartas);
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.reproductor__contenedor { /* Contenedor para el área del video */
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

.reproductor__video { /* Estilos para el elemento video de el componente reproductor */
    width: 100%;
    height: 100%;
}

.barra-lateral {
    width: 200px;
    height: 200px;
    background-color: #000; 
    border-right: 1px solid #333; 
    padding: 20px 15px;
    float: left; 
    margin: 30px 0 30px 20px;
}

.barra-lateral__titulo { /* Estilos para el título de la barra lateral */
    font-size: var(--titulos-cartas);
    font-weight: bold;
    color: #fff; 
    margin-bottom: 20px;
}

.barra-lateral__lista { /* Estilos para la lista de la barra lateral */
    list-style: none;
    margin-bottom: 20px;
}

.barra-lateral__item { /* Estilos para cada elemento de la lista */
    margin-bottom: 10px;
}

.barra-lateral__enlace { /* Estilos para los enlaces de la barra lateral */
    display: block;
    text-decoration: none;
    color: #ccc; 
    font-size: 15px;
    background-color: #333; 
    padding: 5px;
    border-radius: 4px;
    transition: 0.2s;
}

.barra-lateral__enlace:hover { /* Efecto hover para los enlaces de la barra lateral */
    background-color: #555555; 
    color: #ffffff; 
}

.carrito { /* Creación del componente de carrito */
    width: 300px;
    margin: 30px auto;
    background-color: #fff0f0; 
    border-radius: 10px; 
    box-shadow: var(--sombras-cajas);
    padding: 20px;
    text-align: center;
}

.carrito__titulo { /* Estilos para el título del carrito */
    font-size: var(--titulos-cartas);
    font-weight: bold;
    color: #663333;  
    margin-bottom: 20px;
}

.carrito__fila { /* Estilos para cada fila de ítem del carrito */
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #ffecec; 
}

.carrito__nombre { /* Estilos para el nombre del ítem */
    float: left;
    color: #554444; 
    font-size: 16px; 
}

.carrito__precio { /* Estilos para el precio del ítem */
    float: right;
    color: #442222; 
    font-weight: bold;
    font-size: 16px;
}

.carrito__total { /* Estilos para la sección del total */
    overflow: hidden; 
    padding: 15px 0; 
    margin-top: 15px;
}

.carrito__total-texto { /* Estilos para el texto "Total" */
    float: left;
    font-size: 18px; 
    font-weight: bold;
    color: #331111;
}

.carrito__total-valor { /* Estilos para el valor total */
    float: right;
    font-size: 18px; 
    font-weight: bold;
    color: #331111; 
}

.carrito__boton { /* Estilos para el botón de compra */
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #ff8888;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 25px; 
}

.titulos-principales--componente-14 { /* Generamos espacio entre los titulos para el componente 14 */
    margin-top: 50vh;
}

.blog { /* Se crea el componente blog */
    width: 370px;
    height: 450px;
    background-color: #e6e6e6;
    padding-top: 10px;
    box-shadow: var(--sombras-cajas);
    margin: 0 auto;
    margin-bottom: 20vh;
    border-radius: 8px;
}

.blog__usuario { /* Se crean estilos para el elemento que muestra el nombre de usuario */
    margin-left: 20px;
    font-size: 15px;
    font-weight: 800;
}

.blog__img { /* Se aplican estilos a la imagen que hace parte de el componente */
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.blog__texto {
    margin-left: 20px;
    font-size: 15px;
}